*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo5{
    width: 12rem;
    padding: 2rem
}

nav{

    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(59, 59, 211, 0.568);
    padding: 2px;
}

.allocation{

    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5rem;
    list-style: none;
    padding: right 4rem;
    text-align: none;
    color: white;
}

.sec1{

    display: flex;
    align-items: center;
 justify-content: space-between; 
    /* flex-direction: column; */
    padding: 5rem;
    background-color: rgb(189, 138, 62);
    padding-left: 20rem;
}

.div2{

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    font-size: 3rem;
    color: white;
    /* background-color: rgba(195, 141, 71, 0.603); */
}

.h2{
    font-size: 2rem;
}

.para{

    font-size: 1.5rem;
}

.btn{

    border: none;
    padding: 1rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    border-radius: 15px;
    background-color: rgba(35, 35, 236, 0.598);
    color: white;
}

.img1{

    height: 80vh;
    width: 50%;
    padding-right: 8rem;

}


@media (max-width:760px){

    .sec1{
        flex-direction: column;
    
    }
    .div2{
        margin-bottom: 4rem;
        justify-content: center;
    }
    .allocation{
        font-size: x-small;
    }
    .logo5{
        width: 12rem  
    }
    
}

